.article {
  border-radius: 10px;
  padding: 5px;
  transition:
    box-shadow 0.3s,
    transform 0.3s;

  &:hover {
    box-shadow: 0 0 10px $c-contrast;
  }

  &__img {
    display: none;

    @include on-tablet {
      display: inline-block;
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 11px;
    text-align: left;

    @include on-tablet {
      text-align: center;
      margin-bottom: 18px;
    }
  }

  &__subtitle {
    text-align: left;

    @include on-tablet {
      text-align: center;
    }
  }
}
