.contact {
  background: $c-bg-black;

  @include section-padding-block;

  &__content {
    display: flex;
    flex-direction: column;

    @include on-tablet {
      @include page-grid;
    }
  }

  &__info {
    @include on-tablet {
      grid-column: span 3;
    }

    @include on-small-desktop {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-small-desktop {
      grid-column: 7 / -1;
    }

    @include on-desktop {
      grid-column: 9 / -1;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__manager--in {
    display: none;
    margin: 50px 0 76px;

    @include on-tablet {
      display: block;
    }
  }

  &__manager--out {
    margin-top: 30px;
    order: 1;

    @include on-tablet {
      display: none;
    }
  }

  &__details {
    display: none;

    @include on-tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__detail {
    color: $c-text;

    &:hover {
      @include hover(color, $c-white);
    }
  }

  &__container {
    @include on-small-desktop {
      overflow: unset;
    }
  }
}
