.gaming {
  background-color: $c-bg-black;
  padding-block: 50px;

  @include on-tablet {
    padding-block: 70px;
  }

  @include on-small-desktop {
    padding-block: 100px;
  }

  @include on-desktop {
    padding-block: 158px;
  }

  &__content {
    text-align: center;
  }

  &__wrapper-title {
    margin-bottom: 30px;

    @include on-small-desktop {
      margin-bottom: 83px;
    }

    @include on-desktop {
      margin-bottom: 70px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__articles {
    @include page-grid;

    row-gap: 20px;

    @include on-tablet {
      row-gap: 40px;
    }
  }

  &__article {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}

.article {
  border-radius: 10px;
  padding: 5px;
  transition:
    box-shadow .3s,
    transform .3s;

  &:hover {
    box-shadow: 0 0 10px $c-contrast;
  }

  &__img {
    display: none;

    @include on-tablet {
      display: inline-block;
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 11px;
    text-align: left;

    @include on-tablet {
      text-align: center;
      margin-bottom: 18px;
    }
  }

  &__subtitle {
    text-align: left;

    @include on-tablet {
      text-align: center;
    }
  }
}
