.icon {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;

  @include hover(transform, scale(1.1));

  &--back {
    background-image: url('../images/icons/back.svg');
  }

  &--close {
    background-image: url('../images/icons/close.svg');
  }

  &--close-mb {
    width: 14px;
    height: 14px;
    background-image: url('../images/icons/close-mb.svg');
  }

  &--facebook {
    background-image: url('../images/icons/facebook.svg');
  }

  &--twitter {
    background-image: url('../images/icons/twitter.svg');
  }

  &--youtube {
    background-image: url('../images/icons/youtube.svg');
  }

  &--reddit {
    background-image: url('../images/icons/reddit.svg');
  }
}
