.menu {
  background: $bg-menu;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 160px;

  @include on-tablet {
    padding-bottom: 140px;
  }

  &__top-bar {
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
    margin-bottom: 18px;
  }

  &__link-close {
    margin-left: auto;

    @include hover(transform, scale(1.1));
  }

  &__burger-close {
    display: block;
  }

  &__content {
    @include page-grid;
  }

  &__nav,
  &__lang {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -1;
    }
  }

  &__help {
    grid-column: 1 / -1;
  }

  &__faq {
    grid-column: 1 / -1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &__item {
    height: 50px;
    position: relative;
  }

  &__link {
    cursor: pointer;
    width: 120vw;
    display: block;
    position: absolute;
    left: -10vw;
    height: 100%;

    @include on-tablet {
      left: -20vw;
    }

    @include hover(background-color, $bg-menu-link);

    &-text {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      width: 100vw;
      left: 10vw;
      font-size: 21px;
      font-weight: 500;
      color: $c-white;

      @include hover(color, $c-contrast);

      @include on-tablet {
        left: 20vw;
      }
    }
  }
}

.hidden {
  display: none;
}
