h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

.body {
  font-family: $main-ff;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: $c-text;
}

.accent {
  color: $c-contrast;
  font-weight: 400;
}

.text-second {
  font-size: 14px;
  color: $c-contrast;
}

.text-third {
  font-size: 12px;
}

button,
a {
  color: $c-white;
  font-size: 16px;
}

.container {
  overflow: hidden;

  @include on-tablet {
    overflow: unset;
  }
}
