@import 'utils';
@import 'fonts';
@import 'typography';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/top-bar';
@import 'blocks/button';
@import 'blocks/play-btn';
@import 'blocks/gaming';
@import 'blocks/slider';
@import 'blocks/nav';
@import 'blocks/about';
@import 'blocks/tech';
@import 'blocks/open-bar';
@import 'blocks/benefits';
@import 'blocks/article';
@import 'blocks/contact';
@import 'blocks/form';
@import 'blocks/footer';
@import 'blocks/icon';
@import 'blocks/menu';
@import 'blocks/dropdown';
@import 'blocks/help';
@import 'blocks/faq';
@import 'blocks/media-player';
@import 'blocks/faq-module';
@import 'blocks/accordion';
@import 'blocks/help-module';
@import 'blocks/main';
@import 'blocks/buy-module';
@import 'blocks/select';
@import 'blocks/form-buy';
@import 'blocks/pay-order';
@import 'blocks/complite';
