$min-width-on-tablet: 768px;
$min-width-on-small-desktop: 1280px;
$min-width-on-desktop: 1920px;
$c-bg-gradient: linear-gradient(90deg, #191536, #000000);
$c-bg-black: #05040B;
$c-dark-grey: #2F2F2F;
$c-contrast: #05C2DF;
$c-text: #929292;
$c-text-dark: #545454;
$c-white: #FFF;
$c-black: #000;
$main-ff: Inter;
$hover-duration: 0.3s;
$c-error: #860404;
$hover-bg-color: #191536;
$bg-menu: #191536;
$bg-menu-link: #110E25;
$box-shadow: #000000b3;
